button {
    border-radius: $radius;
    padding: $padding;
    outline: none;
    border: 0;
    cursor: pointer;

    &:focus-visible {
        outline: $outline;
    }

    &:focus {
        outline: none;
    }
}
