input {
    border-radius: $radius;
    padding: $padding;
    outline: none;
    border: 0;

    &:focus-visible {
        outline: $outline;
    }

    &:focus {
        outline: none;
    }

    &::-moz-selection {
        background-color: $primary-color!important;
        color: $input-text-color;
    }
    
    &::selection {
        background-color: $primary-color!important;
        color: $input-text-color;
    }
}

textarea {
    &::-moz-selection {
        background-color: $primary-color!important;
        color: $input-text-color;
    }

    &::selection {
        background-color: $primary-color!important;
        color: $input-text-color;
    }
}
