input {
    border-radius: $radius;
    padding: $padding;
    outline: none;
    border: 0;

    &:focus-visible {
        outline: $outline;
    }

    &:focus {
        outline: none;
    }

    &::-moz-selection {
        background-color: $input-text-color!important;
        color: $primary-color;
    }
    
    &::selection {
        background-color: $input-text-color!important;
        color: $primary-color;
    }
}

textarea {
    &::-moz-selection {
        background-color: $input-text-color!important;
        color: $primary-color;
    }

    &::selection {
        background-color: $input-text-color!important;
        color: $primary-color;
    }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
