// colors
$bg-color: #1b1b1b;
$bg-sidebar-color: #202020;
$primary-color: #161616;
$primary-color-lighter: #292929;
$secondary-color: #f0f0f0;
$focus-color: #ff0000;
$input-color: #303030;
$input-text-color: #ffffff;

// borders
$radius: 7px;
$padding: 10px;
$padding-sm: 5px;
$margin: 20px;
$outline: solid 2px $focus-color;
$inset-shadow: inset 0 0 10px #000000;
$outset-shadow: 0 0 10px #FFFFFF;

// fonts
$font-size: 16pt;
$font-family: 'Arial', 'Roboto', sans-serif;
