@import 'variables';
@import 'components/button';
@import 'components/input';
@import 'components/select';
@import 'login';
@import 'sidebar';
@import 'fields';
@import 'components/contextmenu';
@import 'changelog';

html, body {
    margin: 0;
    padding: 0;
    font-family: $font-family;
    font-size: $font-size;
}

html {
    background-color: $bg-rgba-color;
    background-image: url('../assets/background_default.webp');
    /*background-size: 100px;*/
    background-blend-mode: multiply;
    background-position: center center;
    background-size: cover;

    &.xmas {
        background-image: url('../assets/background_xmas.webp') !important;
    }

    &.new-year {
        background-image: url('../assets/background_new_year.webp') !important;
    }

    &.easter {
        background-image: url('../assets/background_easter.webp') !important;
    }
    
    &.halloween {
        background-image: url('../assets/background_halloween.webp') !important;
    }
    
    &.valentines {
        background-image: url('../assets/background_valentines.webp') !important;
    }
}

* {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    color: $secondary-color;
}

.d-block {
    display: block;
}

.d-none {
    display: none;
}

::-ms-reveal,
::-webkit-reveal {
    display: none;
}

.bg-transparent {
    background-color: transparent;
}

.app-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.window-fade-enter { /* Entering starts */
    /*opacity: 0;
    transform: scale(0.9);*/
}

.window-fade-enter-active { /* Entering ends */
    /*opacity: 1;
    transform: scale(1);
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
    transition-delay: 300ms;*/
}

.window-fade-exit { /* Exiting starts */
    /*opacity: 1;
    transform: scale(1);*/
}

.window-fade-exit-active { /* Exiting ends */
    /*opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;*/
}
