@import 'variables';
@import 'components/button';
@import 'components/input';
@import 'login';
@import 'sidebar';
@import 'fields';
@import 'components/contextmenu';
@import 'changelog';

html, body {
    margin: 0;
    padding: 0;
    font-family: $font-family;
    font-size: $font-size;
}

html {
    background-color: $bg-color;
    background-image: url('../assets/icon_pattern.webp');
    background-size: 100px;
    background-blend-mode: multiply;
}

* {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    color: $secondary-color;
}

::-ms-reveal,
::-webkit-reveal {
    display: none;
}

.bg-transparent {
    background-color: transparent;
}

.app-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.window-fade-enter { /* Entering starts */
    /*opacity: 0;
    transform: scale(0.9);*/
}

.window-fade-enter-active { /* Entering ends */
    /*opacity: 1;
    transform: scale(1);
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
    transition-delay: 300ms;*/
}

.window-fade-exit { /* Exiting starts */
    /*opacity: 1;
    transform: scale(1);*/
}

.window-fade-exit-active { /* Exiting ends */
    /*opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;*/
}
