button {
  border-radius: 7px;
  padding: 10px;
  outline: none;
  border: 0;
  cursor: pointer;
}
button:focus-visible {
  outline: solid 2px #ff0000;
}
button:focus {
  outline: none;
}

input {
  border-radius: 7px;
  padding: 10px;
  outline: none;
  border: 0;
}
input:focus-visible {
  outline: solid 2px #ff0000;
}
input:focus {
  outline: none;
}
input::-moz-selection {
  background-color: #ffffff !important;
  color: #161616;
}
input::selection {
  background-color: #ffffff !important;
  color: #161616;
}

textarea::-moz-selection {
  background-color: #ffffff !important;
  color: #161616;
}
textarea::selection {
  background-color: #ffffff !important;
  color: #161616;
}

.login .logo {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}
.login .password-input {
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
  background-color: #303030;
  box-shadow: inset 0 0 10px #000000;
  color: #ffffff;
}

.sidebar {
  display: flex;
  justify-content: left;
}
.sidebar::after {
  content: "Passmer - Password Manager";
  position: absolute;
  font-weight: bold;
  top: 50%;
  left: 0;
  transform: rotate(-90deg) translateX(-50%) translateY(50%);
  transform-origin: top left;
  color: #1b1b1b;
  filter: brightness(3);
  opacity: 0.1;
}

.sidebar-first {
  width: 55px;
  height: 100dvh;
  background-color: #1b1b1b;
}

.sidebar-second {
  width: 100%; /*250px sidebar, 100% full-page*/
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  container-type: inline-size;
  /* If sidebar-second is 300 px, make full view for real sidebar behavior */
}
.sidebar-second .sidebar-view {
  width: 500px;
  max-height: 90%;
  border-radius: 7px;
  background-color: #202020;
  display: flex;
  flex-direction: column;
}
.sidebar-second .sidebar-view .search-input-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  max-height: 1px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  grid-template-columns: 1fr auto;
  align-items: center;
}
.sidebar-second .sidebar-view .search-input-wrapper.show {
  grid-template-rows: 1fr;
  max-height: 100%;
}
.sidebar-second .sidebar-view .search-input {
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
  background-color: #303030;
  color: #ffffff;
  width: calc(100% - 2 * 10px * 3); /* With * 3, we can keep 0 auto for centering and use margin like this. */
  display: none;
  opacity: 0;
  animation: fade-out-search 0.5s ease-in-out forwards;
  overflow: hidden;
  /*&::-moz-selection {
      background-color: $primary-color!important;
      color: $input-text-color;
  }

  &::selection {
      background-color: $primary-color!important;
      color: $input-text-color;
  }*/
}
.sidebar-second .sidebar-view .search-input.show {
  display: block;
  opacity: 1;
  animation: fade-in-search 0.5s ease-in-out forwards;
}
.sidebar-second .sidebar-view .smart-search-btn {
  background-color: #161616;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-right: 20px;
  animation: fade-out-search 0.5s ease-in-out forwards;
  overflow: hidden;
  opacity: 0;
  border: solid 2px transparent;
  display: none;
}
.sidebar-second .sidebar-view .smart-search-btn.show {
  display: block;
  opacity: 1;
  animation: fade-in-search 0.5s ease-in-out forwards;
}
.sidebar-second .sidebar-view .smart-search-btn.activated {
  border: 2px solid #2a5e3e;
}
@container (max-width: 250px) {
  .sidebar-second .sidebar-view {
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    border-radius: 0;
  }
}

.sidebar-first-split-top {
  flex-direction: column;
  height: 50dvh;
  display: flex;
  align-items: flex-start;
}

.sidebar-first-split-bottom {
  flex-direction: column-reverse;
  height: 50dvh;
  display: flex;
  align-items: flex-end;
}

.sidebar-btn {
  width: 45px;
  height: 45px;
  background-color: #161616;
  color: #f0f0f0;
  border: none;
  border-radius: 7px;
  margin: 5px;
  padding: 10px;
  cursor: pointer;
  transform: scale(1);
  transition: all 0.25s ease-in-out;
  overflow: hidden;
}
.sidebar-btn svg {
  pointer-events: none;
}
.sidebar-btn:hover svg {
  transform: scale(1.2);
}
.sidebar-btn::before {
  content: "";
  pointer-events: none;
  width: 0;
  height: 0;
  background-color: #161616;
  opacity: 0;
  position: absolute;
  top: var(--mouse-y, 50%);
  left: var(--mouse-x, 50%);
  border-radius: 100%;
  transition: background-color 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.sidebar-btn:active::before {
  top: var(--mouse-y, 50%);
  left: var(--mouse-x, 50%);
  background-color: #292929;
  opacity: 1;
  border-radius: 7px;
  animation: sidebar-btn-before-sizer 0.1s ease-in-out forwards;
  /*transform: rotate(-180deg);*/
  transition: none;
}
.sidebar-btn:hover::before {
  width: 20px;
  height: 20px;
  top: calc(var(--mouse-y, 50%) - 10px);
  left: calc(var(--mouse-x, 50%) - 10px);
  background-color: #292929;
  opacity: 0.2;
  border-radius: 7px;
  box-shadow: 0 0 10px 5px #292929;
  /*transform: rotate(-180deg);*/
}

.sidebar-items {
  flex-grow: 1;
  overflow-y: auto;
}
.sidebar-items::-webkit-scrollbar {
  width: 10px;
}
.sidebar-items::-webkit-scrollbar-thumb {
  background-color: #161616;
  border-radius: 7px;
}
.sidebar-items::-webkit-scrollbar-track {
  background-color: #202020;
  border-radius: 7px;
}
.sidebar-items::-webkit-scrollbar-thumb:hover {
  background-color: #292929;
}
.sidebar-items .sidebar-item {
  background-color: inherit;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 7px;
  border: transparent 5px solid;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}
.sidebar-items .sidebar-item:hover {
  background-color: #292929;
  border: #272727 5px solid;
}
.sidebar-items .sidebar-item:active {
  background-color: #272727;
}
.sidebar-items .sidebar-item.selected {
  border-left: #f0f0f0 5px solid;
}
.sidebar-items .sidebar-item.selected:hover {
  border-left: transparent 5px solid;
}
.sidebar-items .sidebar-item .item-title {
  font-size: 16pt;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@keyframes sidebar-btn-before-sizer {
  from {
    top: var(--mouse-y, 50%);
    left: var(--mouse-x, 50%);
    width: 0;
    height: 0;
  }
  to {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.sidebar-btn.rotate:hover svg {
  transform: rotate(180deg) scale(1.2);
}

.sidebar-btn.jump:hover svg {
  transform: scale(1.2) rotate(0) translate(0);
  animation: sidebar-jump-effect 0.5s ease-in-out;
}

.sidebar-btn.wiggle:hover svg {
  transform: scale(1.2) rotate(0) translate(0);
  transform-origin: bottom center;
  animation: sidebar-wiggle-effect 0.5s ease-in-out;
}

@keyframes sidebar-wiggle-effect {
  0% {
    transform: translateX(0) rotate(0);
  }
  25% {
    transform: translateX(-2px) rotate(-10deg) skewX(-5deg) skewY(-5deg);
  }
  50% {
    transform: translateX(2px) rotate(10deg) skewX(5deg) skewY(5deg);
  }
  75% {
    transform: translateX(-2px) rotate(-10deg);
  }
  100% {
    transform: translateX(0) rotate(0) scale(1.2);
  }
}
@keyframes sidebar-jump-effect {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(-5px) rotate(-20deg);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
.sidebar-btn.move:hover svg {
  transform: scale(1.2) rotate(0) translate(0);
  transform-origin: bottom right;
  animation: sidebar-move-effect 1s ease-in-out;
}

@keyframes sidebar-move-effect {
  0% {
    transform: translateY(0) rotate(0);
  }
  25% {
    transform: translateY(-5px) translateX(5px) rotate(20deg);
  }
  50% {
    transform: translateY(5px) rotate(0);
  }
  75% {
    transform: translateY(0px) translateX(-5px) rotate(-20deg);
  }
  100% {
    transform: translateY(0) rotate(0) scale(1.2);
  }
}
.sidebar-btn svg {
  transition: all 0.25s ease-in-out;
}

.sidebar-title-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebar-title-area .title {
  font-size: 20pt;
  font-weight: bold;
  margin-left: 20px;
}
.sidebar-title-area .sidebar-btn svg {
  width: 25px;
  height: 25px;
}

@keyframes fade-in-search {
  0% {
    display: block;
    margin-top: -100%;
    opacity: 0;
  }
  1% {
    display: block;
    margin-top: 0 auto;
    opacity: 0;
  }
  100% {
    display: block;
    margin-top: 0 auto;
    opacity: 1;
  }
}
@keyframes fade-out-search {
  0% {
    display: block;
    margin-top: 0 auto;
    opacity: 1;
  }
  99% {
    display: block;
    margin-top: -100%;
    opacity: 0;
  }
  100% {
    display: none;
    margin-top: -100%;
    opacity: 0;
  }
}
.add-section-wrapper {
  display: none;
  justify-content: center;
  align-items: start;
  position: fixed;
  inset: 0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  animation: fade-out-add-section-wrapper 0.5s ease-in-out forwards;
}
.add-section-wrapper .add-section {
  width: 300px;
  margin-top: -100%;
  animation: slide-out-add-section 0.5s ease-in-out forwards;
  padding: 20px;
  background-color: #1b1b1b;
  border-radius: 7px;
  transition: all 0.5s ease-in-out;
}
.add-section-wrapper .add-section .add-section-input {
  width: calc(100% - 20px);
  margin-bottom: 20px;
  background-color: #303030;
  color: #ffffff;
}
.add-section-wrapper .add-section .add-section-input::-moz-selection {
  background-color: #161616 !important;
  color: #ffffff;
}
.add-section-wrapper .add-section .add-section-input::selection {
  background-color: #161616 !important;
  color: #ffffff;
}
.add-section-wrapper .add-section .title {
  margin-top: 0;
  margin-bottom: 20px;
}
.add-section-wrapper .add-section .btn-collection {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.add-section-wrapper .add-section .btn-collection .btn {
  width: 100px;
  padding: 10px;
  border-radius: 7px;
  background-color: #161616;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
.add-section-wrapper .add-section .btn-collection .btn:hover {
  background-color: #292929;
}
.add-section-wrapper .add-section .btn-collection .btn:disabled {
  background-color: #1b1b1b;
  cursor: not-allowed;
}
.add-section-wrapper .add-section .btn-collection .btn:nth-last-child(1) {
  margin-left: 20px;
}
.add-section-wrapper.show {
  display: flex;
  animation: fade-in-add-section-wrapper 0.5s ease-in-out forwards;
}
.add-section-wrapper.show .add-section {
  margin-top: 20px;
  animation: slide-in-add-section 0.5s ease-in-out forwards;
  transition: all 0.5s ease-in-out;
}

@keyframes slide-in-add-section {
  from {
    margin-top: -100%;
  }
  to {
    margin-top: 20px;
  }
}
@keyframes slide-out-add-section {
  from {
    margin-top: 20px;
  }
  to {
    margin-top: -100%;
  }
}
@keyframes fade-in-add-section-wrapper {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: flex;
    opacity: 0;
  }
  100% {
    display: flex;
    opacity: 1;
  }
}
@keyframes fade-out-add-section-wrapper {
  0% {
    display: flex;
    opacity: 1;
  }
  99% {
    display: flex;
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
  }
}
.fields-layout {
  display: flex;
  justify-content: start;
  align-items: center;
}
.fields-layout .sidebar-wrapper {
  width: 300px;
  height: 100dvh;
}
.fields-layout .fields {
  flex-grow: 1;
  max-height: 100dvh;
  height: 100dvh;
  max-width: calc(100dvw - 300px);
  width: calc(100dvw - 300px);
  background-color: #1b1b1b;
}
.fields-layout .fields .fields-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 50px;
  border-bottom: 1px solid #292929;
  background-color: #202020;
}
.fields-layout .fields .fields-header .title {
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px;
}
.fields-layout .fields .fields-header .btn {
  background-color: #161616;
  border-radius: 7px;
  padding: 10px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
}
.fields-layout .fields .fields-header .btn:hover {
  background-color: #292929;
}
.fields-layout .fields .fields-header .btn.animate-whoosh svg {
  /*transform: translate(0, 0);*/
  transition: all 0.25s ease-in-out;
}
.fields-layout .fields .fields-header .btn.animate-whoosh:hover svg {
  animation: fields-whoosh 0.5s ease-in-out forwards;
}
.fields-layout .fields .fields-header .btn.animate-wiggle svg {
  /*transform: scale(1) translate(0, 0);*/
  transition: all 0.25s ease-in-out;
}
.fields-layout .fields .fields-header .btn.animate-wiggle:hover svg {
  transform: scale(1.2) rotate(0) translate(0);
  transform-origin: bottom center;
  animation: sidebar-wiggle-effect 0.5s ease-in-out;
}
.fields-layout .fields .add-field-popup {
  position: fixed;
  inset: 0;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  display: none;
  opacity: 0;
  transition: all 0.25s ease-in-out;
  animation: fields-blur-fade-out 0.25s ease-in-out forwards;
}
.fields-layout .fields .add-field-popup .add-field-sidebar {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  width: 300px;
  height: 100dvh;
  background-color: #202020;
  transform: translateX(100%);
  transition: all 0.25s ease-in-out;
  animation: fields-slide-out 0.25s ease-in-out forwards;
}
.fields-layout .fields .add-field-popup .add-field-sidebar .title {
  padding: 10px;
  font-size: 16pt;
  font-weight: bold;
  border-bottom: 1px solid #292929;
}
.fields-layout .fields .add-field-popup .add-field-sidebar .input {
  width: calc(100% - 10px * 4);
  background-color: #303030;
  margin: 10px;
}
.fields-layout .fields .add-field-popup .add-field-sidebar .option {
  width: calc(100% - 10px * 2);
  margin: 10px;
  margin-top: 0;
  background-color: #161616;
  text-align: left;
}
.fields-layout .fields .add-field-popup .add-field-sidebar .option:hover {
  background-color: #292929;
}
.fields-layout .fields .add-field-popup.show {
  display: block;
  opacity: 1;
  animation: fields-blur-fade-in 0.25s ease-in-out forwards;
}
.fields-layout .fields .add-field-popup.show .add-field-sidebar {
  transform: translateX(0);
  transition: all 0.25s ease-in-out;
  animation: fields-slide-in 0.25s ease-in-out forwards;
}
.fields-layout .fields .fields-content {
  padding: 10px;
  height: calc(100dvh - (50px + 3 * 10px));
  width: calc(100dvw - 300px - 2 * 10px);
  overflow-y: auto;
  overflow-x: hidden;
  border-left: 1px solid #292929;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
}
.fields-layout .fields .fields-content::-webkit-scrollbar {
  width: 10px;
}
.fields-layout .fields .fields-content::-webkit-scrollbar-thumb {
  background-color: #161616;
  border-radius: 7px;
}
.fields-layout .fields .fields-content::-webkit-scrollbar-track {
  background-color: #202020;
  border-radius: 7px;
}
.fields-layout .fields .fields-content::-webkit-scrollbar-thumb:hover {
  background-color: #292929;
}
.fields-layout .fields .fields-content .field-text {
  display: flex;
  justify-content: start;
  flex-direction: column;
  padding: 10px;
  border-bottom: 1px solid #292929;
  width: -moz-fit-content;
  width: fit-content;
  height: 60px;
  background-color: #202020;
  border-radius: 7px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.fields-layout .fields .fields-content .field-text:has(.textarea) {
  height: 120px;
}
.fields-layout .fields .fields-content .field-text .hide {
  display: none;
}
.fields-layout .fields .fields-content .field-text .show {
  display: block;
}
.fields-layout .fields .fields-content .field-text .field-label {
  width: 100%;
  font-size: 12pt;
  font-weight: bold;
  padding-right: 10px;
  padding-bottom: 10px;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.fields-layout .fields .fields-content .field-text .field-input {
  width: 200px;
  padding-left: 10px;
  background-color: #303030;
}
.fields-layout .fields .fields-content .field-text .field-input.textarea {
  height: 100px;
  width: calc(400px + 10px * 5);
  resize: none;
  font-family: "Arial", "Roboto", sans-serif;
  border-radius: 7px;
  margin-top: 10px;
  padding: 10px;
  outline: none;
}
.fields-layout .fields .fields-content .field-text .field-input.textarea::-webkit-scrollbar {
  width: 10px;
}
.fields-layout .fields .fields-content .field-text .field-input.textarea::-webkit-scrollbar-thumb {
  background-color: #161616;
  border-radius: 7px;
}
.fields-layout .fields .fields-content .field-text .field-input.textarea::-webkit-scrollbar-track {
  background-color: #202020;
  border-radius: 7px;
}
.fields-layout .fields .fields-content .field-text .field-input.textarea::-webkit-scrollbar-thumb:hover {
  background-color: #292929;
}
.fields-layout .fields .fields-content .field-split {
  width: 95%;
  background-color: inherit;
  border-bottom: #292929 1px solid;
  margin-bottom: 10px;
}
.fields-layout .fields .fields-content .field-split .hide {
  display: none;
}
.fields-layout .fields .fields-content .field-split .show {
  display: block;
}
.fields-layout .fields .fields-content .field-split svg, .fields-layout .fields .fields-content .field-split path {
  color: #313131 !important;
}
.fields-layout .fields .fields-content .field-actions {
  width: 200px;
  margin-left: 10px;
  margin-right: 10px;
}
.fields-layout .fields .fields-content .field-actions .btn {
  background-color: #161616;
  margin-right: 10px;
  cursor: pointer;
  padding: calc(10px / 2);
  transition: all 0.25s ease-in-out;
}
.fields-layout .fields .fields-content .field-actions .btn:hover {
  background-color: #292929;
}

@keyframes fields-whoosh {
  0% {
    transform: translateX(0) translateY(0);
  }
  45% {
    transform: translateX(-300%) translateY(0);
  }
  50% {
    transform: translateX(-300%) translateY(-300%);
  }
  51% {
    transform: translateX(300%) translateY(-300%);
  }
  55% {
    transform: translateX(300%) translateY(0);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
@keyframes fields-wiggle-effect {
  0% {
    transform: translateX(0) rotate(0);
  }
  25% {
    transform: translateX(-2px) rotate(-10deg) skewX(-5deg) skewY(-5deg);
  }
  50% {
    transform: translateX(2px) rotate(10deg) skewX(5deg) skewY(5deg);
  }
  75% {
    transform: translateX(-2px) rotate(-10deg);
  }
  100% {
    transform: translateX(0) rotate(0) scale(1.2);
  }
}
@keyframes fields-blur-fade-in {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@keyframes fields-blur-fade-out {
  0% {
    display: block;
    opacity: 1;
  }
  99% {
    display: block;
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
  }
}
@keyframes fields-slide-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes fields-slide-out {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
.context-menu {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
  left: var(--context-menu-x, 0);
  top: var(--context-menu-y, 0);
  background-color: #1b1b1b;
  border-radius: 7px;
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: 1px 1px 7px 0px black;
  transition: all 0.25s ease-in-out;
  opacity: 0;
  animation: hide 0.25s ease-in-out forwards;
}
.context-menu.show {
  display: flex;
  animation: show 0.25s ease-in-out forwards;
}
.context-menu.temp-show { /* Temporary show for JS */
  display: block;
  visibility: hidden;
}
.context-menu.x-correction {
  transform: translateX(-100%);
}
.context-menu .context-menu-btn {
  background-color: #1b1b1b;
  width: 100%;
  margin-top: 5px;
  text-align: start;
  text-wrap: nowrap;
  transition: all 0.1s ease-in-out;
}
.context-menu .context-menu-btn:last-child {
  margin-bottom: 5px;
}
.context-menu .context-menu-btn:hover {
  background-color: #161616;
}
.context-menu .context-menu-btn:active {
  filter: brightness(0.8);
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    display: none;
  }
}
@keyframes show {
  0% {
    display: flex;
  }
  1% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.changelog-wrapper {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  animation: changelog-fade-out 0.5s ease-in-out forwards;
}
.changelog-wrapper.show {
  display: flex;
  animation: changelog-fade-in 0.5s ease-in-out forwards;
}
.changelog-wrapper .changelog {
  background-color: #161616;
  border-radius: 7px;
  border: 1px solid #f0f0f0;
  padding: 10px;
  width: 400px;
  height: 90%;
  overflow-y: auto;
}
.changelog-wrapper .changelog::-webkit-scrollbar {
  width: 10px;
}
.changelog-wrapper .changelog::-webkit-scrollbar-thumb {
  background-color: #161616;
  border-radius: 7px;
}
.changelog-wrapper .changelog::-webkit-scrollbar-track {
  background-color: #202020;
  border-radius: 7px;
}
.changelog-wrapper .changelog::-webkit-scrollbar-thumb:hover {
  background-color: #292929;
}
.changelog-wrapper .changelog .title, .changelog-wrapper .changelog .subtitle {
  margin-bottom: 10px;
}
.changelog-wrapper .changelog .btn-collection {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  width: 100%;
  margin-top: 10px;
}
.changelog-wrapper .changelog .btn-collection .btn {
  background-color: #292929;
  margin-right: 10px;
  transition: all 0.25s ease-in-out;
}
.changelog-wrapper .changelog .btn-collection .btn:nth-last-child(0) {
  margin-right: 0;
}
.changelog-wrapper .changelog .btn-collection .btn:hover {
  background-color: #202020;
}
.changelog-wrapper .changelog .changelog-data {
  border-left: 1px solid #f0f0f0;
  padding: 10px;
  margin-bottom: 20px;
}
.changelog-wrapper .changelog .changelog-data:last-child {
  margin-bottom: 0;
}
.changelog-wrapper .changelog .changelog-data h4, .changelog-wrapper .changelog .changelog-data p, .changelog-wrapper .changelog .changelog-data b {
  margin: 0;
  margin-bottom: 10px;
}
.changelog-wrapper .changelog .changelog-data p, .changelog-wrapper .changelog .changelog-data b {
  font-size: 14pt;
  margin: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

@keyframes changelog-fade-in {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: flex;
    opacity: 0;
  }
  100% {
    display: flex;
    opacity: 1;
  }
}
@keyframes changelog-fade-out {
  0% {
    display: flex;
    opacity: 1;
  }
  99% {
    display: flex;
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
  }
}
html, body {
  margin: 0;
  padding: 0;
  font-family: "Arial", "Roboto", sans-serif;
  font-size: 16pt;
}

html {
  background-color: #1b1b1b;
  background-image: url("../assets/icon_pattern.webp");
  background-size: 100px;
  background-blend-mode: multiply;
}

* {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  color: #f0f0f0;
}

::-ms-reveal,
::-webkit-reveal {
  display: none;
}

.bg-transparent {
  background-color: transparent;
}

.app-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.window-fade-enter { /* Entering starts */
  /*opacity: 0;
  transform: scale(0.9);*/
}

.window-fade-enter-active { /* Entering ends */
  /*opacity: 1;
  transform: scale(1);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
  transition-delay: 300ms;*/
}

.window-fade-exit { /* Exiting starts */
  /*opacity: 1;
  transform: scale(1);*/
}

.window-fade-exit-active { /* Exiting ends */
  /*opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;*/
}/*# sourceMappingURL=main.css.map */